PORT=4100
# Live Core is hardcoded to https://book.stadepassgn.com in backend code.
STADEPASS_BASE_URL=https://book.stadepassgn.com
STADEPASS_PARTNER_CODE=PARTSBOOKING
STADEPASS_PARTNER_ID=2
STADEPASS_API_KEY=your_public_api_key
STADEPASS_API_SECRET=your_api_secret
STADEPASS_EVENT_ID=8
STADEPASS_EVENT_ACCESS_CODE=
